# Default values for notification-processing-service.

# Number of Pod Replicas desired
replicaCount: 2

# Enables debug mode
debug:
  enable: false

# Required Values for the Chart
required:
  # Define the docker image
  image:
    # The repository where is stored the docker image "notification-processing-service"
    repository: europe-west3-docker.pkg.dev/gematik-all-infra-prod/demis-dev
    # The name of the image
    name: notification-processing-service
    # Overrides the image tag whose default is the chart appVersion.
    # If not given, the Chart AppVersion will be used
    tag: null

config:
  secret:
    # The (external) Secret for Redis
    redis:
      # The name of the (external) Secret for Redis and the entry to be used
      name: redis-cus-reader-password
      key: REDIS_PASSWORD

# Extra Labels to be added
# E.g.
# customLabels:
#   my-label: my-label-value
customLabels: { }

# Extra labels for deployments
deploymentLabels: { }

# Environment Variables to be defined
customEnvVars:
  FEATURE_FLAG_NOTIFICATION_PRE_CHECK: "false"
  FEATURE_FLAG_RELAXED_VALIDATION: "false"
  FEATURE_FLAG_NOTIFICATIONS_7_3: "false"
  FEATURE_FLAG_TUBERCULOSIS_ROUTING_ENABLED: "false"
  FEATURE_FLAG_NEW_API_ENDPOINTS: "false"
  FEATURE_FLAG_PERMISSION_CHECK_ENABLED: "false"
  FEATURE_FLAG_CUSTODIAN_ENABLED: "false"
  FEATURE_FLAG_FOLLOW_UP_NOTIFICATION: "false"
  FEATURE_FLAG_MOVE_ERROR_ID_TO_DIAGNOSTICS: "false"
  FEATURE_FLAG_NBL_FOR_NOTBYNAME_ENABLED: "false"
  REDIS_HOST: "redis-cus.demis.svc.cluster.local"
  REDIS_PORT: "6379"
  REDIS_USER: "reader"

# Define custom Container Entrypoint and Arguments (e.g. JVM Tuning)
# If not given, the Entrypoint defined in Dockerfile will be used
application:
  entrypoint: [ "java" ]
  parameters: [ "-XX:ActiveProcessorCount=2", "-XX:MaxRAMPercentage=80.0", "-XX:+TieredCompilation", "-XX:+UseSerialGC", "-jar", "/app.jar" ]

# The Pull Policy for the Image
imagePullPolicy: IfNotPresent
# Define Image Pull Secrets if using private registry
imagePullSecrets: [ ]
nameOverride: "notification-processing-service"
fullnameOverride: "notification-processing-service"

serviceAccount:
  # Specifies whether a service account should be created
  create: true
  # Annotations to add to the service account
  annotations: { }
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name: ""

# Annotations for Workload
annotations: { }

# Annotations for Pods
podAnnotations:
  prometheus.io/scrape: "true"
  prometheus.io/path: "/actuator/prometheus"
  prometheus.io/port: "8080"

# Pod Security Context - applies to all containers in a Pod
podSecurityContext:
  # The GID to tell the Kubelet to modify permissions of a volume owned by a pod
  fsGroup: 10000
  # Determines when to apply fsGroup actions - "Always" is the default
  fsGroupChangePolicy: "OnRootMismatch"
  # Which GID container process is assigned
  runAsGroup: 10000
  # Determine whether container process starts as root (UID 0)
  runAsNonRoot: true
  # Which UID container process is assigned
  runAsUser: 10000

# Container Security Context for a single container - Takes precedence over PodSecurityContext
securityContext:
  #defines whether container can be granted privileges beyond the parent process spawing the process
  allowPrivilegeEscalation: false
  #Define whether the container has privileged access e.g. CAP_SYS_ADMIN capability and SELinux spc_t type
  privileged: false
  #Usually no longer required. Determines whether /proc is masked to the container. Do not mount /proc from a host to a container
  procMount: Default
  # The SELinux context to be applied to the container. Must not be explicitly set to Unconfined.
  seccompProfile:
    type: "RuntimeDefault"
  #Which GID container process is assigned
  runAsGroup: 10000
  # Determine whether container process starts as root (UID 0)
  runAsNonRoot: true
  #Which UID container process is assigned
  runAsUser: 10000
  # Sets the file system as read-only
  readOnlyRootFilesystem: true
  #Ability to remove and /or add Linux Capabilities
  capabilities:
    drop:
      - all

service:
  type: ClusterIP
  ports:
    http: 8080

# Resources
resources:
  limits:
    memory: "1Gi"
  requests:
    cpu: "300m"
    memory: "1Gi"

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 3
  targetCPUUtilizationPercentage: 80
  targetMemoryUtilizationPercentage: 80

nodeSelector: { }

tolerations: [ ]

istio:
  enable: false
  validateJwt: "true"
