spring:
  config:
    import: classpath:/base-config-application.yaml
  data:
    redis:
      host: ${REDIS_HOST:redis-cus.demis.svc.cluster.local}
      password: ${REDIS_PW:}
      username: ${REDIS_USER:default}
      port: ${REDIS_PORT:6379}
      repositories:
        enabled: true
      client-type: lettuce
      lettuce:
        pool:
          enabled: true
      client-name: nps-svc
      connect-timeout: 5000
      timeout: 15000
  threads:
    virtual:
      enabled: true
# set base properties
base:
  errorhandler:
    enabled: true
  feign:
    extension:
      enabled: true
  logging:
    request:
      enabled: true
  meter:
    aspect:
      enabled: true
  fhir:
    enabled: true
    error-as-operation-outcome: true
    operation-outcome:
      profile: "https://demis.rki.de/fhir/StructureDefinition/ProcessNotificationResponse"
      issue-threshold: ${nps.outcome-issue-threshold}
    response:
      content-type-value-legacy-logic: true
  error:
    sender:
      log: true

info:
  app:
    name: @project.name@
    version: @project.version@

nps:
  client:
    dls: "http://destination-lookup-writer.demis.svc.cluster.local"
    validation: "http://validation-service.demis.svc.cluster.local"
    lifecycle-vs: "http://lifecycle-validation-service.demis.svc.cluster.local"
    routing: "http://notification-routing-service.demis.svc.cluster.local"
    pdfgen: "http://pdfgen-service.demis.svc.cluster.local"
    pseudonymization: "http://pseudonymization-service.demis.svc.cluster.local"
    fhir-storage-writer:
      address: "http://fhir-storage-writer.demis.svc.cluster.local"
      context-path: ${DEMIS_NETWORK_FSS_CONTEXT_PATH:/notification-clearing-api/fhir/}
    futs:
      address: "http://futs.demis.svc.cluster.local"
      context-path: ${DEMIS_NETWORK_FUTS_CONTEXT_PATH:/fhir-ui-data-model-translation/}
    context-enrichment-service: "http://context-enrichment-service.demis.svc.cluster.local"
  context-path: ${API_ENTRYPOINT:/fhir/}
  certificate-dir: ${NPS_CERTIFICATES_PATH:data/certificates}

  anonymized-allowed: true

  sormas-codes:
    - cvd

  outcome-issue-threshold: warning

  health-offices-live-test: ${NPS_FLAG_LIVE_TEST:false}

  codemapping:
    cache:
      reload:
        # reload codemapping cache every 30 minutes from 00:00
        cron: "0 0/30 * * * *"



feature:
  flag:
    notification_pre_check: false
    notifications.7_3: false
    relaxed_validation: false
    new_api_endpoints: false
    permission.check.enabled: false
    custodian.enabled: false
    follow.up.notification: false
    nbl.for.notByName.enabled: false
    codemapping.service.base: false

demis:
  codemapping:
    enabled: ${feature.flag.codemapping.service.base}
    cache-reload-cron: ${DEMIS_CODEMAPPING_CACHE_RELOAD_CRON:0 0/30 * * * *}
    client:
      base-url: ${DEMIS_CODEMAPPING_BASE_URL:http://futs.demis.svc.cluster.local}
      context-path: ${DEMIS_NETWORK_FUTS_CONTEXT_PATH:/fhir-ui-data-model-translation/}
    concept-maps:
      - NotificationDiseaseCategoryToTransmissionCategory
      - NotificationCategoryToTransmissionCategory
      - NotificationDiseaseCategoryNonNominalToTransmissionCategory
      - NotificationCategoryNonNominalToTransmissionCategory
